---
import Nav from '../components/Nav.astro';
import Hero from '../components/Hero.astro';
import Research from '../components/Research.astro';
import '../styles/global.css';
---

<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>Thibault Barret</title>
	</head>
	<body>
		<Nav />
		<main class="pt-16">
			<Hero />
			<Research />
		</main>
	</body>
</html>
